body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#urlText {
    width: 560px;
}

.tooltip {
    position: relative;
}
.tooltip span {
    position: absolute;
    content: attr(data-tooltip);
    padding: 8px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: 10em;
    top: 30px;
    left: 0;
    visibility: hidden;
}
.tooltip:hover span {
    visibility: visible;
}