body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#urlText {
    width: 560px;
}

.tooltip {
    position: relative;
}
.tooltip::before,
.tooltip::after {
    position: absolute;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.tooltip::before {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #000;
    top: 10px;
    left: 10px;
}
.tooltip::after {
    content: attr(data-tooltip);
    display: block;
    width: 10em;
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    top: 30px;
    left: 0;
}
.tooltip:hover::before{
    top: 16px;
    opacity: 1;
}
.tooltip:hover::after{
    top: 36px;
    opacity: 1;
}